
<Modal>
    <Header>
        @Header
    </Header>
    <Body>
        @Body
    </Body>
</Modal>




@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }
}
